/* CSS personalizado */
:root {
    --primary: #007bff;
    --secondary: rgba(138, 43, 226, 0.5);
    --success: #17962f;
    --info: #339ade;
    --warning: #ffc107;
    --danger: #ff1e1e;
    --light: #f8f9fa;
    --dark: #343a40;
    --white: #ffffff;
    --table: #8cc9d7;
    --table-sucess: rgb(166, 255, 160);
    --table-warning: rgb(244, 255, 146);
    --table-danger: rgb(255, 137, 137);
}

.bg-light {
    background-color: var(--light);
}
.bg-primary {
    background-color: var(--primary);
}
.text-primary {
    color: var(--primary);
}
.text-secondary {
    color: var(--secondary);
}
.btn-primary {
    background-color: var(--primary);
}
.btn-primary:hover {
    background-color: var(--info);
}
.btn-success {
    background-color: var(--success);
}
.btn-danger {
    background-color: var(--danger);
}
.table thead * {
    background-color: var(--table);
}
.table tfoot * {
    background-color: var(--table);
}
tr.table-success *{
    background-color: var(--table-sucess);
}
tr.table-warning * {
    background: var(--table-warning);
}
tr.table-danger * {
    background: var(--table-danger);
}

#logo {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 87%;
    background-attachment: fixed;
}

#conteudo {
    background-color: rgba(255,255,255,0.90);
}

.busca {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

.table td, .table th {

    font-size: 0.8rem;
}

.btn {
    font-size: 0.9rem;
}

.pagination {
    font-size: 0.9rem;
}

.barra-rolagem {
    overflow-y: auto;
    max-height: 500px;
}

/* Estilização da barra de rolagem */
.barra-rolagem::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

.barra-rolagem::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor de fundo da barra de rolagem */
}

.barra-rolagem::-webkit-scrollbar-thumb {
    background: #888; /* Cor da barra de rolagem */
    border-radius: 6px; /* Raio da borda da barra de rolagem */
}

.barra-rolagem::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor da barra de rolagem ao passar o mouse */
}

