/* CSS personalizado */
:root {
    --primary: rgb(0, 100, 148);
    --secondary: rgba(138, 43, 226, 0.5);
    --success: #43a945;
    --info: #339ade;
    --warning: #ffc107;
    --danger: #af2323;
    --light: #e8f1f2;
    --dark: #343a40;
    --white: #ffffff;
    --table: rgb(103, 168, 205);
    --table-relatorio: rgba(194, 194, 196, 0.85);
    --table-sucess: rgb(133, 232, 150);
    --table-warning: rgb(252, 255, 173);
    --table-danger: rgb(255, 175, 175);
    --border: #363738FF;
    --t1: #e8f1f2;
    --t2: #1B98E0;
    --t3: #247BA0;
    --t4: #006494;
    --t5: #757575;
    --pt: #333333;
}

.bg-light {
    background-color: var(--t1);
}
.bg-primary {
    background-color: var(--t4);
}
.text-primary {
    color: var(--pt);
}
.text-secondary {
    color: var(--secondary);
}
.btn-primary {
    background-color: var(--t4);
    border-color: var(--t3);
    box-sizing: border-box;
}

.btn-primary:hover {
    background-color: var(--t3);
    border-color: var(--t4);
}
.btn-success {
    background-color: var(--success);
}
.btn-danger {
    background-color: var(--danger);
}
.table thead * {
    background-color: var(--t3);
    border-color: var(--t5);
    color: #ffffff;
}
.table tfoot * {
    background-color: var(--t3);
    color: #ffffff;
}
.table tbody * {
    background-color: var(--t1);
    color: var(--pt);
}

tr.table-success *{
    background-color: var(--table-sucess);
}
tr.table-warning * {
    background: var(--table-warning);
}
tr.table-danger * {
    background: var(--table-danger);
}
table thead.relatorio *{
    background-color: var(--table-relatorio);
    padding-bottom: 1px;
    padding-top: 1px;
    border-color: #333333;
}
table tfoot.relatorio *{
    background-color: var(--table-relatorio);
    padding-bottom: 1px;
    padding-top: 1px;
    border-color: #333333;
}
table tbody.relatorio-body *{
    padding-bottom: 0;
    padding-top: 0;
    border-color: #333333;
}

li.page-item{
    border-color: #43a945;
    outline: #43a945;
    color: #43a945;
    box-sizing: border-box;
}

li.page-item:hover{
    outline: var(--pt);
}
li.page-item a.page {
    background-color: var(--t3);
    border-color: var(--pt);
    color: var(--pt);
}

li.page-item a.page:active{
    background-color: var(--t1);
    border-color: var(--t1);
    color: rgba(164,215,169,0.85);
}

.text-secondary {
    color: var(--pt);
}

#logo {
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 87%;
    background-attachment: fixed;
    z-index: -1;
    background-size: 40%;
}

html body {
    background-color: var(--light);
}

.form-group .form-group,
.form-group .form-control,
.form-group .form-control-sm {
    border: 1px solid var(--t5);
    background-color: #ffffff;}

.form-group .form-group:focus,
.form-group .form-control:focus,
.form-group .form-control-sm:focus {
    border-color: var(--t5);
    background-color: var(--t1);
    box-shadow: 0px 0px 10px 0px var(--t4);
    transition: box-shadow 0.5s ease;
}
.form-group .form-group:required,
.form-group .form-control:required,
.form-group .form-control-sm:required {
    border-color: var(--t5);
}

.form-group .form-group:valid,
.form-group .form-control:valid,
.form-group .form-control-sm:valid  {
    border-color: var(--t5);
}
.busca {
    position: sticky;
    top: 0;
    z-index: 1;
}

.table td, .table th {

    font-size: 0.75rem;
}

.btn {
    font-size: 0.9rem;
}

.pagination {
    font-size: 0.9rem;
}

.barra-rolagem {
    overflow-y: auto;
    max-height: 500px;
}

/* Estilização da barra de rolagem */
.barra-rolagem::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

.barra-rolagem::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor de fundo da barra de rolagem */
}

.barra-rolagem::-webkit-scrollbar-thumb {
    background: #888; /* Cor da barra de rolagem */
    border-radius: 6px; /* Raio da borda da barra de rolagem */
}

.barra-rolagem::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor da barra de rolagem ao passar o mouse */
}

.hide {
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#flash-message {
    position: fixed;
    bottom: 0%;
    right: 0;
    padding: 1rem 4rem 1rem 2rem;
    animation: flash-message 12s !important;
    margin: 1rem 0 0 1rem;
    min-width: 20%;
    max-width: 30%;
    z-index: 9999;
}

@keyframes flash-message {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    90% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes select-input {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    90% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}