/* CSS personalizado */
:root {
    --primary: rgb(12, 183, 242);
    --secondary: rgba(138, 43, 226, 0.5);
    --success: #10a91a;
    --info: #339ade;
    --warning: #ffc107;
    --danger: #fd3e3e;
    --light: #f8f9fa;
    --dark: #343a40;
    --white: #ffffff;
    --table: rgba(177, 243, 241, 0.85);
    --table-relatorio: rgba(194, 194, 196, 0.85);
    --table-sucess: rgb(166, 255, 160);
    --table-warning: rgb(244, 255, 146);
    --table-danger: rgb(255, 137, 137);
}

.bg-light {
    background-color: var(--light);
}
.bg-primary {
    background-color: var(--primary);
}
.text-primary {
    color: var(--primary);
}
.text-secondary {
    color: var(--secondary);
}
.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    box-sizing: border-box;
}

.btn-primary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    opacity: 75%;
}
.btn-success {
    background-color: var(--success);
}
.btn-danger {
    background-color: var(--danger);
}
.table thead * {
    background-color: var(--table);
}
.table tfoot * {
    background-color: var(--table);
}
tr.table-success *{
    background-color: var(--table-sucess);
}
tr.table-warning * {
    background: var(--table-warning);
}
tr.table-danger * {
    background: var(--table-danger);
}
table thead.relatorio *{
    background-color: var(--table-relatorio);
    padding-bottom: 1px;
    padding-top: 1px;
    border-color: #333333;
}
table tfoot.relatorio *{
    background-color: var(--table-relatorio);
    padding-bottom: 1px;
    padding-top: 1px;
    border-color: #333333;
}
table tbody.relatorio-body *{
    padding-bottom: 0;
    padding-top: 0;
    border-color: #333333;
}

#logo {
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 87%;
    background-attachment: fixed;
    z-index: -1;
    background-size: 40%;
}

#conteudo {
    background-color: rgba(255,255,255,0.90);
}

.busca {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

.table td, .table th {

    font-size: 0.75rem;
}

.btn {
    font-size: 0.9rem;
}

.pagination {
    font-size: 0.9rem;
}

.barra-rolagem {
    overflow-y: auto;
    max-height: 500px;
}

/* Estilização da barra de rolagem */
.barra-rolagem::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

.barra-rolagem::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor de fundo da barra de rolagem */
}

.barra-rolagem::-webkit-scrollbar-thumb {
    background: #888; /* Cor da barra de rolagem */
    border-radius: 6px; /* Raio da borda da barra de rolagem */
}

.barra-rolagem::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor da barra de rolagem ao passar o mouse */
}

.hide {
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#flash-message {
    position: fixed;
    bottom: 0%;
    right: 0;
    padding: 1rem 4rem 1rem 2rem;
    animation: flash-message 12s !important;
    margin: 1rem 0 0 1rem;
    min-width: 20%;
    max-width: 30%;
    z-index: 9999;
}

@keyframes flash-message {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    90% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

